// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#stylized2{
	border:solid 2px #CCC;
	background:#FFF;
	width:300px;
}